flows.json
[{"id":"43813386.78b07c","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"bc75f220.db67e","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"ae72b941.c54948","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"9e85066.81becf8","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"b75baa0.95a6b58","type":"tab","label":"Flow 5","disabled":true,"info":""},{"id":"dd5d8247.fe899","type":"tab","label":"Flow 6","disabled":true,"info":""},{"id":"ab992f87.93738","type":"tab","label":"Profile","disabled":false,"info":""},{"id":"4cffd028.9f589","type":"tab","label":"On/Off Fan","disabled":false,"info":""},{"id":"d66ec0d8.83eb1","type":"tab","label":"Garbage","disabled":false,"info":""},{"id":"cf4ddb55.364818","type":"subflow","name":"Smart TTS","info":"","category":"","in":[{"x":80,"y":220,"wires":[]}],"out":[],"env":[],"meta":{},"color":"#A6BBCF","icon":"node-red-contrib-cast/google-home-mini2.svg"},{"id":"9b7a0d6d.5fe6b","type":"subflow","name":"Smart TTS (2)","info":"","category":"","in":[{"x":80,"y":220,"wires":[]}],"out":[{"x":880,"y":480,"wires":[]}],"env":[],"meta":{},"color":"#A6BBCF","icon":"node-red-contrib-cast/google-home-mini2.svg"},{"id":"749bd27.68b502c","type":"subflow","name":"Smart TTS (3)","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#A6BBCF","icon":"node-red-contrib-cast/google-home-mini2.svg"},{"id":"8850e193.e1712","type":"subflow","name":"SaveChart","info":"","category":"","in":[{"x":80,"y":140,"wires":[{"id":"40784bb1.204934"}]}],"out":[{"x":820,"y":120,"wires":[{"id":"a6525d2.cb354a","port":0}]}]},{"id":"b74f843a.9bf338","type":"group","z":"9b7a0d6d.5fe6b","name":"Smart TTS","style":{"stroke":"#7f7f7f","fill":"#7f7f7f","fill-opacity":"0.5","label":true,"color":"#ffffff"},"nodes":["b7382653.c3a298","bc5db578.97d048","e84337c6.64ffa8","3d869ad3.f2de16","f0ff9b6.856c968","88e0c175.4a95e","ea46313.878b9d","4e92df92.5deac"],"x":34,"y":99},{"id":"b7382653.c3a298","type":"group","z":"9b7a0d6d.5fe6b","g":"b74f843a.9bf338","name":"Input","style":{"label":true},"nodes":[],"x":94,"y":179},{"id":"bc5db578.97d048","type":"group","z":"9b7a0d6d.5fe6b","g":"b74f843a.9bf338","name":"Finding right spotify account","style":{"label":true},"nodes":[],"x":694,"y":259},{"id":"e84337c6.64ffa8","type":"group","z":"9b7a0d6d.5fe6b","g":"b74f843a.9bf338","name":"TTS","style":{"label":true},"nodes":[],"x":94,"y":319},{"id":"3d869ad3.f2de16","type":"group","z":"9b7a0d6d.5fe6b","g":"b74f843a.9bf338","name":"Initial media type recognition","style":{"label":true},"nodes":[],"x":374,"y":139},{"id":"f0ff9b6.856c968","type":"group","z":"9b7a0d6d.5fe6b","g":"b74f843a.9bf338","name":"Output","style":{"label":true},"nodes":[],"x":714,"y":399},{"id":"88e0c175.4a95e","type":"group","z":"9b7a0d6d.5fe6b","g":"b74f843a.9bf338","name":"URL resume","style":{"label":true},"nodes":[],"x":574,"y":379},{"id":"ea46313.878b9d","type":"group","z":"9b7a0d6d.5fe6b","g":"b74f843a.9bf338","name":"Getting spotify accounts data","style":{"label":true},"nodes":[],"x":594,"y":139},{"id":"4e92df92.5deac","type":"group","z":"9b7a0d6d.5fe6b","g":"b74f843a.9bf338","name":"Spotify resume","style":{"label":true},"nodes":[],"x":574,"y":279},{"id":"dcd68772.526b78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#1278a1","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Palatino Linotype,Palatino,Book Antiqua,serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#1278a1","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#1aabe5","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":true},"widget-backgroundColor":{"value":"#1278a1","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"30245374.eac55c","type":"ui_group","name":"Temperature","tab":"caadb82.6738548","order":1,"disp":true,"width":"8","collapse":false},{"id":"c925f0a1.c2066","type":"ui_group","name":"ChatRoom","tab":"4f0379b9.cad628","order":1,"disp":true,"width":"12","collapse":false},{"id":"a60c2059.f6526","type":"ui_group","name":"Weather Station","tab":"b1fd881e.6bcff8","order":2,"disp":true,"width":10,"collapse":false},{"id":"50612986.3f4ec8","type":"ui_spacer","z":"bc75f220.db67e","name":"spacer","group":"c925f0a1.c2066","order":2,"width":12,"height":1},{"id":"5cf7aa47.b2a674","type":"ui_spacer","z":"bc75f220.db67e","name":"spacer","group":"c925f0a1.c2066","order":3,"width":12,"height":1},{"id":"cfb78f86.725ca","type":"ui_spacer","z":"bc75f220.db67e","name":"spacer","group":"c925f0a1.c2066","order":4,"width":12,"height":1},{"id":"94924c10.0fae6","type":"ui_spacer","z":"bc75f220.db67e","name":"spacer","group":"c925f0a1.c2066","order":5,"width":12,"height":1},{"id":"b1fd881e.6bcff8","type":"ui_tab","name":"abcd","icon":"dashboard","disabled":false,"hidden":false},{"id":"38697b9c.3e4dec","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4f0379b9.cad628","type":"ui_tab","name":"Chat","icon":"dashboard","disabled":false,"hidden":false},{"id":"1fa5be.de331a42","type":"ui_spacer","z":"ae72b941.c54948","name":"spacer","group":"a60c2059.f6526","order":7,"width":10,"height":1},{"id":"f8b730aa.4eaec","type":"ui_spacer","z":"ae72b941.c54948","name":"spacer","group":"a60c2059.f6526","order":10,"width":10,"height":1},{"id":"4bf9f0f9.43a4f","type":"ui_group","name":"Chart","tab":"96a352a8.8053d","order":1,"disp":true,"width":10,"collapse":false},{"id":"f4907dc1.d2e8d","type":"ui_group","name":"Data","tab":"96a352a8.8053d","order":2,"disp":true,"width":8,"collapse":false},{"id":"d68e7be3.88f088","type":"ui_group","name":"Profile","tab":"f85c19d4.100578","order":1,"disp":true,"width":"8","collapse":false},{"id":"96a352a8.8053d","type":"ui_tab","name":"Visualization","icon":"dashboard","disabled":false,"hidden":false},{"id":"f85c19d4.100578","type":"ui_tab","name":"My Profile","icon":"dashboard","disabled":false,"hidden":false},{"id":"80356abf.3f71f8","type":"ui_spacer","z":"9e85066.81becf8","name":"spacer","group":"4bf9f0f9.43a4f","order":2,"width":1,"height":1},{"id":"4b32590d.842678","type":"ui_spacer","z":"9e85066.81becf8","name":"spacer","group":"4bf9f0f9.43a4f","order":4,"width":1,"height":1},{"id":"c5316a1c.a74708","type":"ui_spacer","z":"9e85066.81becf8","name":"spacer","group":"f4907dc1.d2e8d","order":2,"width":1,"height":1},{"id":"1f270123.29c2ff","type":"ui_spacer","z":"9e85066.81becf8","name":"spacer","group":"f4907dc1.d2e8d","order":4,"width":1,"height":1},{"id":"6d3ec09.e27b34","type":"ui_group","name":"Home","tab":"375192f7.c89cde","order":1,"disp":true,"width":13,"collapse":false},{"id":"a004498e.c60028","type":"ui_group","name":"FAN","tab":"375192f7.c89cde","order":2,"disp":true,"width":"12","collapse":false},{"id":"68e41714.f36988","type":"ui_group","name":"SETTINGS","tab":"375192f7.c89cde","order":3,"disp":true,"width":12,"collapse":false},{"id":"ae204a0a.32d8d8","type":"ui_group","name":"Rac_Thai","tab":"32c07927.012fb6","order":1,"disp":true,"width":17,"collapse":false},{"id":"375192f7.c89cde","type":"ui_tab","name":"Website","icon":"dashboard","disabled":false,"hidden":false},{"id":"32c07927.012fb6","type":"ui_tab","name":"Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"ea9e1290.8674f","type":"ui_spacer","z":"43813386.78b07c","name":"spacer","group":"30245374.eac55c","order":1,"width":8,"height":1},{"id":"8c6e422d.d6581","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"16fea93.9897657","type":"ui_group","name":"San_Pham","tab":"375192f7.c89cde","order":4,"disp":true,"width":"6","collapse":false},{"id":"556da7a7.35f1e8","type":"ui_group","name":"DEMO","tab":"375192f7.c89cde","order":5,"disp":true,"width":6,"collapse":false},{"id":"152df1bb.04bd9e","type":"ui_group","name":"WARNING","tab":"375192f7.c89cde","order":6,"disp":true,"width":12,"collapse":false},{"id":"caadb82.6738548","type":"ui_tab","name":"BTCN09","icon":"dashboard","disabled":false,"hidden":false},{"id":"4895300c.1dc62","type":"ui_group","name":"Profile","tab":"375192f7.c89cde","order":7,"disp":true,"width":12,"collapse":false},{"id":"a3dcf925.591538","type":"ui_group","name":"Information","tab":"375192f7.c89cde","order":8,"disp":true,"width":12,"collapse":false},{"id":"7179c13.0628d4","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7ed5781c.61ce68","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":4,"width":1,"height":1},{"id":"95ee906.8429d7","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":6,"width":1,"height":1},{"id":"7ef81413.68857c","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":7,"width":1,"height":1},{"id":"7a75481c.2ca838","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":9,"width":1,"height":1},{"id":"86415306.11d95","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":10,"width":8,"height":1},{"id":"276645b7.7cdada","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":11,"width":8,"height":1},{"id":"25dc690a.d081d6","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":12,"width":8,"height":1},{"id":"d80615b5.a06a98","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":13,"width":8,"height":1},{"id":"dbe44e4c.a0b4","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":14,"width":1,"height":1},{"id":"188da837.c75668","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"ae204a0a.32d8d8","order":16,"width":9,"height":1},{"id":"f2dd2035.d31cb","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":3,"width":1,"height":1},{"id":"1d7b59f5.905db6","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":5,"width":1,"height":1},{"id":"ed58f006.10a33","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":8,"width":1,"height":1},{"id":"2f2aabbe.e3ca14","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":9,"width":1,"height":1},{"id":"208b89c6.d2db06","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":10,"width":1,"height":1},{"id":"bcf93566.f32848","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":11,"width":10,"height":1},{"id":"f484dad1.f7cbe8","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":13,"width":1,"height":1},{"id":"fcb80569.8ee5a8","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":15,"width":1,"height":1},{"id":"ea4bdbc5.03b4d8","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":16,"width":1,"height":1},{"id":"de6cdb91.5fb018","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":17,"width":1,"height":1},{"id":"9c615350.f030f","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":18,"width":1,"height":1},{"id":"27cbbccc.645e94","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"6d3ec09.e27b34","order":23,"width":1,"height":1},{"id":"a4f5083f.1a7fe8","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"a004498e.c60028","order":5,"width":12,"height":1},{"id":"668bebcc.03b124","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"a004498e.c60028","order":6,"width":12,"height":1},{"id":"90d6f97.decd108","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"68e41714.f36988","order":9,"width":12,"height":1},{"id":"2caaca87.2c4766","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"68e41714.f36988","order":10,"width":4,"height":1},{"id":"4fa588d4.b4d8a8","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"68e41714.f36988","order":12,"width":4,"height":1},{"id":"cf8a7559.3a82b8","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"68e41714.f36988","order":13,"width":12,"height":1},{"id":"e6c760cd.eaf36","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"4895300c.1dc62","order":2,"width":10,"height":1},{"id":"20caf413.ef1f3c","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"4895300c.1dc62","order":3,"width":12,"height":1},{"id":"53d5752c.5d307c","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"a3dcf925.591538","order":6,"width":3,"height":1},{"id":"f3328900.6730b8","type":"ui_spacer","z":"ab992f87.93738","name":"spacer","group":"a3dcf925.591538","order":8,"width":4,"height":1},{"id":"5338f063.6ca83","type":"ui_group","name":"Test","tab":"b1fd881e.6bcff8","order":2,"disp":true,"width":"6","collapse":false},{"id":"bd6db65b.de98e","type":"ui_text_input","z":"43813386.78b07c","name":"","label":"Input","tooltip":"","group":"30245374.eac55c","order":2,"width":5,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"","topicType":"str","x":90,"y":100,"wires":[["7fc6f8d9.8a57c"]]},{"id":"c3211e88.698d08","type":"ui_button","z":"43813386.78b07c","name":"","group":"30245374.eac55c","order":3,"width":3,"height":1,"passthru":true,"label":"Find","tooltip":"","color":"","bgcolor":"","icon":"","payload":"trigger","payloadType":"str","topic":"control","topicType":"str","x":90,"y":180,"wires":[["7fc6f8d9.8a57c"]]},{"id":"2bd9eb7a.07c924","type":"ui_text","z":"43813386.78b07c","group":"30245374.eac55c","order":4,"width":8,"height":8,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":790,"y":180,"wires":[]},{"id":"eb60ee8a.cec13","type":"wikisearch","z":"43813386.78b07c","name":"Wiki","limit":"10","format":"json","profile":"classic","x":350,"y":300,"wires":[["cb65dfcc.19cdc"]]},{"id":"be5ab98.fe18d48","type":"mqtt out","z":"bc75f220.db67e","name":"","topic":"/20vp/Nhom7/ChatRoom","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"38697b9c.3e4dec","x":650,"y":540,"wires":[]},{"id":"ed6bc395.32d5c","type":"ui_toast","z":"bc75f220.db67e","position":"top right","displayTime":"5","highlight":"green","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"ChatRoom","name":"Note","x":350,"y":320,"wires":[]},{"id":"8997a0de.a9dfb","type":"mqtt in","z":"bc75f220.db67e","name":"","topic":"/20vp/Nhom7/ChatRoom","qos":"2","datatype":"auto","broker":"38697b9c.3e4dec","nl":false,"rap":true,"rh":0,"x":130,"y":220,"wires":[["ed6bc395.32d5c"]]},{"id":"2c6803a5.03ae9c","type":"ui_text","z":"bc75f220.db67e","group":"c925f0a1.c2066","order":1,"width":12,"height":"4","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":300,"wires":[]},{"id":"cf882e5.be9d8d","type":"file","z":"bc75f220.db67e","name":"","filename":"Storage1.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":550,"y":60,"wires":[["9ead45c3.8522a8"]]},{"id":"9ead45c3.8522a8","type":"file in","z":"bc75f220.db67e","name":"","filename":"Storage1.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":790,"y":100,"wires":[[]]},{"id":"a1e2c93b.4b4268","type":"function","z":"bc75f220.db67e","name":"","func":"if(msg.payload == \"true\")\n{\n    msg.payload = \"<br>\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":120,"wires":[["7a057725.76b578"]]},{"id":"c545940f.53a5a8","type":"ui_form","z":"bc75f220.db67e","name":"","label":"Input","group":"c925f0a1.c2066","order":6,"width":0,"height":0,"options":[{"label":"Content","value":"Trung","type":"text","required":true,"rows":null}],"formValue":{"Trung":""},"payload":"","submit":"Send","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":440,"wires":[["c40dd252.43de1"]]},{"id":"c40dd252.43de1","type":"function","z":"bc75f220.db67e","name":"","func":"var key = Object.keys(msg.payload)[0];\nvar value = msg.payload[key];\nmsg.payload = key + \": \" + value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":480,"wires":[["be5ab98.fe18d48"]]},{"id":"2998bbb7.912ee4","type":"change","z":"bc75f220.db67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.content)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":820,"wires":[["d64a65bf.d932f8"]]},{"id":"d64a65bf.d932f8","type":"join","z":"bc75f220.db67e","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":":      ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"(payload.name)","reduceInit":"(payload.name)","reduceInitType":"jsonata","reduceFixup":"(payload.input)","x":590,"y":760,"wires":[[]]},{"id":"375d594c.478466","type":"change","z":"bc75f220.db67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":700,"wires":[["d64a65bf.d932f8"]]},{"id":"7a057725.76b578","type":"file","z":"bc75f220.db67e","name":"","filename":"Storage.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":550,"y":180,"wires":[["3b5c6b15.435e24"]]},{"id":"3b5c6b15.435e24","type":"file in","z":"bc75f220.db67e","name":"","filename":"Storage.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":790,"y":240,"wires":[["2c6803a5.03ae9c"]]},{"id":"276d9610.54d42a","type":"inject","z":"ae72b941.c54948","name":"INPUT","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":50,"y":320,"wires":[["777ed63e.5c4918","fcd26ba6.9d5308","98263490.d41488"]]},{"id":"777ed63e.5c4918","type":"function","z":"ae72b941.c54948","name":"CITY ID","func":"msg.payload = [{\n        \"Tỉnh Nghệ An\": 1559969\n    },\n    {\n        \"Tỉnh Ninh Bình\": 1559970\n    },\n    {\n        \"Tỉnh Ninh Thuận\": 1559971\n    },\n    {\n        \"Tỉnh Sóc Trăng\": 1559972\n    },\n    {\n        \"Tỉnh Trà Vinh\": 1559975\n    },\n    {\n        \"Tỉnh Tuyên Quang\": 1559976\n    },\n    {\n        \"Tỉnh Vĩnh Long\": 1559977\n    },\n    {\n        \"Tỉnh Yên Bái\": 1559978\n    },\n    {\n        \"Yen Vinh\": 1560037\n    },\n    {\n        \"Yen Bai\": 1560349\n    },\n    {\n        \"Xóm Yân Lạc Hâu\": 1560678\n    },\n    {\n        \"Xóm Pho\": 1561096\n    },\n    {\n        \"Tỉnh Lào Cai\": 1562412\n    },\n    {\n        \"Vung Tau\": 1562414\n    },\n    {\n        \"Vinh Yen\": 1562548\n    },\n    {\n        \"Vinh Long\": 1562693\n    },\n    {\n        \"Vinh\": 1562798\n    },\n    {\n        \"Viet Tri\": 1562820\n    },\n    {\n        \"Socialist Republic of Vietnam\": 1562822\n    },\n    {\n        \"Uông Bí\": 1563241\n    },\n    {\n        \"Tuy Hoa\": 1563281\n    },\n    {\n        \"Tuyên Quang\": 1563287\n    },\n    {\n        \"Tra Vinh\": 1563926\n    },\n    {\n        \"Tỉnh Tiền Giang\": 1564676\n    },\n    {\n        \"Thu Dau Mot\": 1565022\n    },\n    {\n        \"Tỉnh Thừa Thiên-Huế\": 1565033\n    },\n    {\n        \"Tỉnh Kon Tum\": 1565088\n    },\n    {\n        \"Thông Tây Hội\": 1565593\n    },\n    {\n        \"Thôn Ðiền Hạ\": 1565654\n    },\n    {\n        \"Thôn Chiết Bi Ha\": 1565681\n    },\n    {\n        \"Huyen Thanh Son\": 1566053\n    },\n    {\n        \"Thanh pho Ho Chi Minh\": 1566083\n    },\n    {\n        \"Tỉnh Thanh Hóa\": 1566165\n    },\n    {\n        \"Thanh Hóa\": 1566166\n    },\n    {\n        \"Thái Nguyên\": 1566319\n    },\n    {\n        \"Tỉnh Thái Bình\": 1566338\n    },\n    {\n        \"Thai Binh\": 1566346\n    },\n    {\n        \"Tỉnh Tây Ninh\": 1566557\n    },\n    {\n        \"Tây Ninh\": 1566559\n    },\n    {\n        \"Tân An\": 1567069\n    },\n    {\n        \"Tam Ky\": 1567148\n    },\n    {\n        \"Sơn Tây\": 1567621\n    },\n    {\n        \"Tỉnh Sơn La\": 1567643\n    },\n    {\n        \"Huyện Sơn Dương\": 1567649\n    },\n    {\n        \"Sơn La\": 1567681\n    },\n    {\n        \"Song Cau\": 1567723\n    },\n    {\n        \"Sóc Trăng\": 1567788\n    },\n    {\n        \"Sa Pa\": 1568043\n    },\n    {\n        \"Sa Đéc\": 1568212\n    },\n    {\n        \"Rạch Giá\": 1568510\n    },\n    {\n        \"Quy Nhơn\": 1568574\n    },\n    {\n        \"Tỉnh Quảng Trị\": 1568733\n    },\n    {\n        \"Quảng Trị\": 1568738\n    },\n    {\n        \"Tỉnh Quảng Ninh\": 1568758\n    },\n    {\n        \"Tỉnh Quảng Ngãi\": 1568769\n    },\n    {\n        \"Quảng Ngãi\": 1568770\n    },\n    {\n        \"Tỉnh Quảng Bình\": 1568839\n    },\n    {\n        \"Pleiku\": 1569684\n    },\n    {\n        \"Tỉnh Phú Yên\": 1569805\n    },\n    {\n        \"Thi xa Phu Tho\": 1569901\n    },\n    {\n        \"Duong GJong\": 1569973\n    },\n    {\n        \"Phu Ly\": 1570449\n    },\n    {\n        \"Phu Khuong\": 1570549\n    },\n    {\n        \"Phu Hưu\": 1570565\n    },\n    {\n        \"Phong Tho\": 1570815\n    },\n    {\n        \"Phan Thiết\": 1571058\n    },\n    {\n        \"Phan Rang-Thap Cham\": 1571067\n    },\n    {\n        \"Ninh Bình\": 1571968\n    },\n    {\n        \"Nha Trang\": 1572151\n    },\n    {\n        \"Ngô Châu\": 1572461\n    },\n    {\n        \"Tỉnh Hòa Bình\": 1572594\n    },\n    {\n        \"Nam Dinh\": 1573517\n    },\n    {\n        \"Mỹ Tho\": 1574023\n    },\n    {\n        \"Long Xuyên\": 1575627\n    },\n    {\n        \"Tỉnh Long An\": 1575788\n    },\n    {\n        \"Lộc Ninh\": 1575864\n    },\n    {\n        \"Lào Cai\": 1576303\n    },\n    {\n        \"Tỉnh Lạng Sơn\": 1576632\n    },\n    {\n        \"Lạng Sơn\": 1576633\n    },\n    {\n        \"Tỉnh Lâm Ðồng\": 1577882\n    },\n    {\n        \"Lagi\": 1577995\n    },\n    {\n        \"Kon Tum\": 1578500\n    },\n    {\n        \"Tỉnh Kiến Giang\": 1579008\n    },\n    {\n        \"Tỉnh Khánh Hòa\": 1579634\n    },\n    {\n        \"Hung Yen\": 1580142\n    },\n    {\n        \"Hue\": 1580240\n    },\n    {\n        \"Ha Long\": 1580410\n    },\n    {\n        \"Hoi An\": 1580541\n    },\n    {\n        \"Thành phố Hồ Chí Minh\": 1580578\n    },\n    {\n        \"Tỉnh Hà Tĩnh\": 1580700\n    },\n    {\n        \"Hoa Binh\": 1580830\n    },\n    {\n        \"Tỉnh Hà Tây\": 1581019\n    },\n    {\n        \"Hậu Giang\": 1581021\n    },\n    {\n        \"Tỉnh Hà Giang\": 1581030\n    },\n    {\n        \"Ha Tinh\": 1581047\n    },\n    {\n        \"Ha Tien\": 1581052\n    },\n    {\n        \"Tỉnh Gia Lai\": 1581088\n    },\n    {\n        \"Thủ Ðô Hà Nội\": 1581129\n    },\n    {\n        \"Hà Nội\": 1581130\n    },\n    {\n        \"Tỉnh Cần Thơ\": 1581188\n    },\n    {\n        \"Thành Phố Hải Phòng\": 1581297\n    },\n    {\n        \"Haiphong\": 1581298\n    },\n    {\n        \"Hai Ha\": 1581323\n    },\n    {\n        \"Hai Duong\": 1581326\n    },\n    {\n        \"Ha Giang\": 1581349\n\n    },\n    {\n        \"Ha Dong\": 1581364\n    },\n    {\n        \"Tỉnh Bình Thuận\": 1581882\n    },\n    {\n        \"Dong Xoai\": 1582436\n    },\n    {\n        \"Tỉnh Ðồng Tháp\": 1582562\n    },\n    {\n        \"Tỉnh Ðồng Nai\": 1582720\n    },\n    {\n        \"Dong Hoi\": 1582886\n    },\n    {\n        \"Dong Ha\": 1582926\n    },\n    {\n        \"Huyen Doan Hung\": 1583240\n    },\n    {\n        \"Dien Bien Phu\": 1583477\n    },\n    {\n        \"Turan\": 1583992\n    },\n    {\n        \"Da Lat\": 1584071\n    },\n    {\n        \"Tỉnh Ðắc Lắk\": 1584169\n    },\n    {\n        \"Tỉnh Bà Rịa-Vũng Tàu\": 1584534\n    },\n    {\n        \"Cu Chi\": 1584661\n    },\n    {\n        \"Con Son\": 1584807\n    },\n    {\n        \"Chau Doc\": 1585660\n    },\n    {\n        \"Cao Lanh\": 1586151\n    },\n    {\n        \"Tỉnh Cao Bằng\": 1586182\n    },\n    {\n        \"Cao Bang\": 1586185\n    },\n    {\n        \"Can Tho\": 1586203\n    },\n    {\n        \"Can Gio\": 1586288\n    },\n    {\n        \"Can Duoc\": 1586296\n    },\n    {\n        \"Cam Ranh\": 1586350\n    },\n    {\n        \"Cam Pha Mines\": 1586357\n    },\n    {\n        \"Ca Mau\": 1586443\n    },\n    {\n        \"Buon Ma Thuot\": 1586896\n    },\n    {\n        \"Tỉnh Bình Ðịnh\": 1587871\n    },\n    {\n        \"Bim Son\": 1587919\n    },\n    {\n        \"Bien Hoa\": 1587923\n    },\n    {\n        \"Tỉnh Bến Tre\": 1587974\n    },\n    {\n        \"Ben Tre\": 1587976\n    },\n    {\n        \"Bac Ninh\": 1591449\n    },\n    {\n        \"Thanh pho Bac Lieu\": 1591474\n    },\n    {\n        \"Bac Giang\": 1591527\n    },\n    {\n        \"Bac Kan\": 1591538\n    },\n    {\n        \"Ấp Vạn Tự Tây\": 1591793\n    },\n    {\n        \"Ấp Ba\": 1594018\n    },\n    {\n        \"Tỉnh An Giang\": 1594446\n    },\n    {\n        \"Bến Ðình\": 1892675\n    },\n   {\n        \"Huyện Ðiện Biên\": 1905099\n    },\n    {\n        \"Tỉnh Bắc Ninh\": 1905412\n    },\n    {\n        \"Tỉnh Bắc Giang\": 1905419\n    },\n    {\n        \"Tỉnh Ðà Nẵng\": 1905468\n    },\n    {\n        \"Tỉnh Bình Dương\": 1905475\n    },\n    {\n        \"Tỉnh Bình Phước\": 1905480\n    },\n    {\n        \"Tỉnh Thái Nguyên\": 1905497\n    },\n    {\n        \"Tỉnh Quảng Nam\": 1905516\n    },\n    {\n        \"Tỉnh Phú Thọ\": 1905577\n    },\n    {\n        \"Tỉnh Nam Ðịnh\": 1905626\n    },\n    {\n        \"Tỉnh Hà Nam\": 1905637\n    },\n    {\n        \"Tỉnh Bắc Kạn\": 1905669\n    },\n    {\n        \"Tỉnh Bạc Liêu\": 1905675\n    },\n    {\n        \"Tỉnh Cà Mau\": 1905678\n    },\n    {\n        \"Tỉnh Hải Dương\": 1905686\n    },\n    {\n        \"Tỉnh Hưng Yên\": 1905699\n    },\n    {\n        \"Runsong\": 1905806\n    },\n    {\n        \"Tỉnh Vĩnh Phúc\": 1905856\n    },\n    {\n        \"Uyen Hung\": 7910088\n    },\n    {\n        \"Huyen Yen Lap\": 8200099\n    },\n    {\n        \"Huyen Thanh Hoa\": 8200205\n    },\n    {\n        \"Huyen Song Thao\": 8200212\n    },\n    {\n        \"Huyen Tam Thanh\": 8200783\n    },\n    {\n        \"Huyen Phong Chau\": 8200836\n    },\n    {\n        \"Huyen Ba Vi\": 8201616\n    },\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":120,"wires":[["a529bf.fbd3c64"]]},{"id":"a529bf.fbd3c64","type":"change","z":"ae72b941.c54948","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["46499647.00a4d8"]]},{"id":"6fc84eca.8195c","type":"http request","z":"ae72b941.c54948","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?id={{{payload}}}&units=metric&appid=322a1086ba3cbfd840a9096aba48d127","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":120,"wires":[["a5ab7cb9.d5e8b"]]},{"id":"46499647.00a4d8","type":"ui_dropdown","z":"ae72b941.c54948","name":"","label":"LIST","tooltip":"","place":"Select option","group":"a60c2059.f6526","order":2,"width":5,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"S1","topicType":"str","x":490,"y":120,"wires":[["dfc38951.0a7748"]]},{"id":"3a7bca93.a99a66","type":"ui_button","z":"ae72b941.c54948","name":"","group":"a60c2059.f6526","order":4,"width":5,"height":1,"passthru":true,"label":"SUBMIT","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"","payload":"trigger","payloadType":"str","topic":"control","topicType":"str","x":480,"y":60,"wires":[["dfc38951.0a7748"]]},{"id":"dfc38951.0a7748","type":"q-gate","z":"ae72b941.c54948","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"","dropCmd":"","statusCmd":"","maxQueueLength":"1","keepNewest":true,"qToggle":false,"persist":false,"storeName":"memory","x":630,"y":120,"wires":[["6fc84eca.8195c"]]},{"id":"28e95ab3.c4c316","type":"ui_gauge","z":"ae72b941.c54948","name":"","group":"a60c2059.f6526","order":8,"width":5,"height":4,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":200,"wires":[]},{"id":"a57f5537.61b228","type":"ui_gauge","z":"ae72b941.c54948","name":"","group":"a60c2059.f6526","order":9,"width":5,"height":4,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":260,"wires":[]},{"id":"e157f4d9.a22378","type":"ui_gauge","z":"ae72b941.c54948","name":"","group":"a60c2059.f6526","order":11,"width":5,"height":4,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":380,"wires":[]},{"id":"563e883.9172978","type":"ui_gauge","z":"ae72b941.c54948","name":"","group":"a60c2059.f6526","order":12,"width":5,"height":4,"gtype":"gage","title":"Wind Speed","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":460,"wires":[]},{"id":"aea5ccb2.bf361","type":"ui_text","z":"ae72b941.c54948","group":"a60c2059.f6526","order":3,"width":5,"height":1,"name":"","label":"Name:   ","format":"{{msg.payload}}","layout":"row-left","x":370,"y":180,"wires":[]},{"id":"1fbcb8db.2e6e97","type":"change","z":"ae72b941.c54948","name":"TEMP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":200,"wires":[["28e95ab3.c4c316"]]},{"id":"201c215b.f10ece","type":"change","z":"ae72b941.c54948","name":"PRESS","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":260,"wires":[["a57f5537.61b228"]]},{"id":"d4098e5f.7b043","type":"change","z":"ae72b941.c54948","name":"WIND","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":460,"wires":[["563e883.9172978"]]},{"id":"34e23982.baf736","type":"change","z":"ae72b941.c54948","name":"HUM","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":380,"wires":[["e157f4d9.a22378"]]},{"id":"fcd26ba6.9d5308","type":"function","z":"ae72b941.c54948","name":"NAME","func":"msg.payload = \"Thiều Vĩnh Trung\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":180,"wires":[["aea5ccb2.bf361"]]},{"id":"98263490.d41488","type":"function","z":"ae72b941.c54948","name":"MSSV","func":"msg.payload = \"20126062\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":260,"wires":[["604bbd67.edb054"]]},{"id":"604bbd67.edb054","type":"ui_text","z":"ae72b941.c54948","group":"a60c2059.f6526","order":5,"width":5,"height":1,"name":"","label":"ID:   ","format":"{{msg.payload}}","layout":"row-left","x":370,"y":260,"wires":[]},{"id":"7fc6f8d9.8a57c","type":"q-gate","z":"43813386.78b07c","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"","dropCmd":"","statusCmd":"","maxQueueLength":"1","keepNewest":true,"qToggle":false,"persist":false,"x":250,"y":140,"wires":[["eb60ee8a.cec13"]]},{"id":"cf0e08d2.8cfef8","type":"ui_text","z":"ae72b941.c54948","group":"a60c2059.f6526","order":1,"width":5,"height":1,"name":"","label":"MY INFO","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":40,"wires":[]},{"id":"a5ab7cb9.d5e8b","type":"json","z":"ae72b941.c54948","name":"","property":"payload","action":"","pretty":false,"x":570,"y":260,"wires":[["34e23982.baf736","d4098e5f.7b043","201c215b.f10ece","1fbcb8db.2e6e97"]]},{"id":"fd041925.0fb0e8","type":"function","z":"43813386.78b07c","name":"","func":"var key =  \"<h3><strong>\" + \"<center>Keyword:&nbsp; \" + \"<mark><i>\"+ msg.payload[0] + \"</i></mark></strong></h3></center>\"\nvar keyword = \"<p> \";\nmsg.payload[1].forEach(function(value, index){\n    keyword += '- <a href=\"' + msg.payload[3][index] + '\">'+ value + \"</a><br>\";\n});\nkeyword += \"</p>\";\n\nmsg.payload = key + keyword;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":180,"wires":[["2bd9eb7a.07c924"]]},{"id":"cb65dfcc.19cdc","type":"json","z":"43813386.78b07c","name":"","property":"payload","action":"","pretty":false,"x":530,"y":300,"wires":[["fd041925.0fb0e8","a75144fe.700988"]]},{"id":"a75144fe.700988","type":"debug","z":"43813386.78b07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":300,"wires":[]},{"id":"d0888c8c.206b","type":"ui_chart","z":"9e85066.81becf8","name":"","group":"4bf9f0f9.43a4f","order":1,"width":10,"height":7,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"25","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":440,"wires":[[]]},{"id":"ab198478.5fd2a8","type":"function","z":"9e85066.81becf8","name":"Chart","func":"var Input = [];\n\nfor(var i = 0; i < 20; i++)\n{\n    Input[i] = ({\"x\" : msg.payload.feeds[i].created_at, \"y\" : msg.payload.feeds[i].field1});\n}\n\nvar obj = [{\n    \"series\" : [\"temperature\"],\n    \"data\": [Input]}];\n\nmsg.data = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":440,"wires":[["930bb404.c0bd58","efd73f5b.5af6d"]]},{"id":"213df5d2.eb289a","type":"ui_button","z":"9e85066.81becf8","name":"","group":"4bf9f0f9.43a4f","order":3,"width":8,"height":1,"passthru":false,"label":"REFRESH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":440,"wires":[["dc5ba8ce.620518"]]},{"id":"5e2d859c.dc975c","type":"ui_slider","z":"9e85066.81becf8","name":"","label":"Data","tooltip":"","group":"f4907dc1.d2e8d","order":1,"width":8,"height":2,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":110,"y":240,"wires":[["3f7b13c8.49191c"]]},{"id":"cf181526.374848","type":"ui_button","z":"9e85066.81becf8","name":"","group":"f4907dc1.d2e8d","order":3,"width":6,"height":1,"passthru":false,"label":"INSERT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"topic","topicType":"msg","x":120,"y":300,"wires":[["f7d74bf5.d75788"]]},{"id":"b731bbd8.f007a8","type":"debug","z":"9e85066.81becf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"3f7b13c8.49191c","type":"function","z":"9e85066.81becf8","name":"Input","func":"global.set(\"input\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":240,"wires":[[]]},{"id":"f7d74bf5.d75788","type":"function","z":"9e85066.81becf8","name":"Output","func":"msg.payload = global.get(\"input\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":300,"wires":[["b731bbd8.f007a8","f8f3f718.cfbfc8"]]},{"id":"930bb404.c0bd58","type":"change","z":"9e85066.81becf8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[["d0888c8c.206b"]]},{"id":"efd73f5b.5af6d","type":"debug","z":"9e85066.81becf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"dc5ba8ce.620518","type":"http request","z":"9e85066.81becf8","name":"ThingSpeak","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1458728/fields/1.json?api_key=53GWHT5XILX9QOXU&results=20","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":440,"wires":[["ab198478.5fd2a8"]]},{"id":"f8f3f718.cfbfc8","type":"http request","z":"9e85066.81becf8","name":"ThingSpeak","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/update?api_key=EXVJCC8QZ7BB30FE&field1={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":300,"wires":[[]]},{"id":"c5355dc6.42fd9","type":"ui_text","z":"9e85066.81becf8","group":"d68e7be3.88f088","order":1,"width":0,"height":0,"name":"","label":"Họ & tên:","format":"Thiều Vĩnh Trung","layout":"row-spread","x":100,"y":100,"wires":[]},{"id":"9ef254d0.1eff88","type":"ui_text","z":"9e85066.81becf8","group":"d68e7be3.88f088","order":2,"width":0,"height":0,"name":"","label":"MSSV:","format":"20126062","layout":"row-spread","x":230,"y":100,"wires":[]},{"id":"7ac8f784.bdc688","type":"ui_text","z":"9e85066.81becf8","group":"d68e7be3.88f088","order":4,"width":0,"height":0,"name":"","label":"Bài Tập: ","format":"BTCN08 - Data Visualization","layout":"row-spread","x":100,"y":40,"wires":[]},{"id":"4921aba9.f34c64","type":"comment","z":"9e85066.81becf8","name":"MY INFO","info":"MY INFO","x":240,"y":40,"wires":[]},{"id":"da82e85.4d86d18","type":"ui_text","z":"9e85066.81becf8","group":"d68e7be3.88f088","order":3,"width":0,"height":0,"name":"","label":"Lớp","format":"20VP","layout":"row-spread","x":170,"y":140,"wires":[]},{"id":"a4708fec.976a3","type":"inject","z":"bc75f220.db67e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"str","x":120,"y":120,"wires":[["a1e2c93b.4b4268"]]},{"id":"a0f72417.ea2838","type":"file","z":"8850e193.e1712","name":"backup","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":700,"y":160,"wires":[[]]},{"id":"70a2db09.6ff354","type":"file in","z":"8850e193.e1712","name":"restore","filename":"","format":"utf8","sendError":true,"x":530,"y":120,"wires":[["a6525d2.cb354a"]]},{"id":"922d4285.5f7e1","type":"json","z":"8850e193.e1712","name":"","property":"payload","action":"str","pretty":false,"x":530,"y":160,"wires":[["a0f72417.ea2838"]]},{"id":"a6525d2.cb354a","type":"json","z":"8850e193.e1712","name":"","property":"payload","action":"str","pretty":false,"x":690,"y":120,"wires":[[]]},{"id":"40784bb1.204934","type":"function","z":"8850e193.e1712","name":"LoadSave","func":"var strSafe=msg.topic;\nif(strSafe)\n{\n    msg.filename =\"/share/chart.save\";\n    var loaded=context.get(strSafe)||0;\n    \n    if(0===loaded||strSafe==\"restore\")\n    {\n        //node.warn(\"Loading chart\");\n        msg.payload=\"load\";\n        context.set(strSafe,1);\n    }\n    else\n    {\n        //node.warn(\"Writing chart\");\n        //node.warn(msg.payload);\n    }\n    return msg;\n \n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":140,"wires":[["51fb3038.7afb6"]]},{"id":"51fb3038.7afb6","type":"switch","z":"8850e193.e1712","name":"Load data","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"load","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":140,"wires":[["70a2db09.6ff354"],["922d4285.5f7e1"]]},{"id":"f9b8e889.ba2748","type":"http request","z":"b75baa0.95a6b58","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/BTCN09/with/key/lQZvzwtMOtnL8_qPoyRvVul-X4-irFExh1DXxEon-97?&value1={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":160,"wires":[[]]},{"id":"11a7dbc7.c43934","type":"ui_gauge","z":"b75baa0.95a6b58","name":"","group":"30245374.eac55c","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":260,"wires":[]},{"id":"28286e27.2d6362","type":"mqtt in","z":"b75baa0.95a6b58","name":"","topic":"/20VP/BTCN09","qos":"2","datatype":"auto","broker":"38697b9c.3e4dec","nl":false,"rap":true,"rh":0,"x":180,"y":180,"wires":[["be2f2c06.6ea11"]]},{"id":"be2f2c06.6ea11","type":"switch","z":"b75baa0.95a6b58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"},{"t":"gte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":180,"wires":[["f9b8e889.ba2748"],["11a7dbc7.c43934"]]},{"id":"9202cd14.71c5","type":"change","z":"ab992f87.93738","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":60,"wires":[["e648584e.d3d4e8"]]},{"id":"e648584e.d3d4e8","type":"ui_gauge","z":"ab992f87.93738","name":"","group":"6d3ec09.e27b34","order":6,"width":6,"height":3,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-50","max":"50","colors":["#04b5cd","#ff9d14","#f50000"],"seg1":"5","seg2":"35","x":1050,"y":60,"wires":[]},{"id":"3a05189d.656a98","type":"change","z":"ab992f87.93738","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":140,"wires":[["d3faca1f.9bcef8"]]},{"id":"d3faca1f.9bcef8","type":"ui_gauge","z":"ab992f87.93738","name":"","group":"6d3ec09.e27b34","order":7,"width":6,"height":3,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b0b3","#f77102","#fb0404"],"seg1":"350","seg2":"450","x":1040,"y":140,"wires":[]},{"id":"5d9e4afe.2631c4","type":"simpletime","z":"ab992f87.93738","name":"DATE","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":310,"y":60,"wires":[["d2e76382.096c4"]]},{"id":"d2e76382.096c4","type":"ui_text","z":"ab992f87.93738","group":"6d3ec09.e27b34","order":2,"width":12,"height":1,"name":"DATE","label":"","format":"{{msg.myymd}}","layout":"row-center","x":470,"y":60,"wires":[]},{"id":"a9ce7e4d.c452f","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["5d9e4afe.2631c4"]]},{"id":"fe42f7de.f2aab8","type":"openweathermap in","z":"ab992f87.93738","name":"weather","wtype":"current","lon":"","lat":"","city":"An Giang","country":"VietNam","language":"en","x":670,"y":100,"wires":[["9202cd14.71c5","3a05189d.656a98"]]},{"id":"8d0de083.f6e34","type":"ui_media","z":"ab992f87.93738","group":"16fea93.9897657","name":"3D","width":6,"height":11,"order":1,"category":"SanPham","file":"fhfgh.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":130,"y":120,"wires":[[]]},{"id":"53c60b13.45ff94","type":"ui_media","z":"ab992f87.93738","group":"556da7a7.35f1e8","name":"Video demo","width":6,"height":11,"order":1,"category":"Demo các loại thùng rác thông minh","file":"sanpham.mp4","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":150,"y":160,"wires":[[]]},{"id":"bb5c6625.e83708","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Overload","payloadType":"str","x":160,"y":340,"wires":[["bbaaa2cc.db981"]]},{"id":"9115e1fc.0f479","type":"e-mail","z":"ab992f87.93738","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hacklike4123@gmail.com","dname":"Gmail","x":770,"y":480,"wires":[]},{"id":"d2b81957.39ba28","type":"function","z":"ab992f87.93738","name":"","func":"if(msg.payload == \"Overload\")\n{\n   msg.payload = \"Thiết bị quá tải, cần xử lí gấp !!!\"\n}\n\nif(msg.payload == \"Can't sort garbage \" )\n{\n    msg.payload = \"Thiết bị không thể phân loại, cần xử lí gấp !!!\"\n}\n\nelse\n{\n    msg.payload = \"Rác đầy, bạn cần đi đổ rác ngay !!!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":360,"wires":[["e971e75f.289bf8"]]},{"id":"2bc57015.f31ea","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Can't sort garbage ","payloadType":"str","x":190,"y":380,"wires":[["bbaaa2cc.db981"]]},{"id":"4d0cc1b7.220d1","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Fullgarbage","payloadType":"str","x":170,"y":420,"wires":[["bbaaa2cc.db981"]]},{"id":"e971e75f.289bf8","type":"ui_toast","z":"ab992f87.93738","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":790,"y":340,"wires":[]},{"id":"576e6c7f.700ad4","type":"ui_text","z":"ab992f87.93738","group":"68e41714.f36988","order":2,"width":9,"height":1,"name":"","label":"Color Button","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":120,"wires":[]},{"id":"bbaaa2cc.db981","type":"simpletime","z":"ab992f87.93738","name":"DATE","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":410,"y":380,"wires":[["d2b81957.39ba28","6d21c4f2.85d23c"]]},{"id":"6d21c4f2.85d23c","type":"function","z":"ab992f87.93738","name":"","func":"if(msg.payload == \"Overload\")\n{\n    msg.payload = \"<h3><strong>- \"+ msg.myymd + \"&emsp;\" + \"<i>\" + msg.mytimes+ \"</i></strong></h3>\";\n    msg.payload += \"Thiết bị quá tải, cần xử lí gấp !!!\"\n}\n\nif(msg.payload == \"Can't sort garbage \" )\n{\n    msg.payload = \"<h3><strong>- \"+ msg.myymd + \"&emsp;\" + \"<i>\" + msg.mytimes+ \"</i></strong></h3>\";\n    msg.payload += \"Thiết bị không thể phân loại, cần xử lí gấp !!!\"\n}\n\nelse\n{\n    msg.payload = \"<h3><strong>- \"+ msg.myymd + \"&emsp;\" + \"<i>\" + msg.mytimes+ \"</i></strong></h3>\";\n    msg.payload += \"Rác đầy, bạn cần đi đổ rác ngay !!!\"\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":420,"wires":[["b282e89e.68b0e8","9115e1fc.0f479"]]},{"id":"a7a3ef9.9edff1","type":"mqtt in","z":"ab992f87.93738","name":"","topic":"/20VP/Error","qos":"2","datatype":"auto","broker":"38697b9c.3e4dec","nl":false,"rap":true,"rh":0,"x":150,"y":480,"wires":[["bbaaa2cc.db981"]]},{"id":"b282e89e.68b0e8","type":"mqtt out","z":"ab992f87.93738","name":"","topic":"/20VP/Noti","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"38697b9c.3e4dec","x":790,"y":420,"wires":[]},{"id":"fdd9753d.31ff28","type":"ui_ui_control","z":"d66ec0d8.83eb1","name":"","events":"all","x":860,"y":400,"wires":[[]]},{"id":"22333e52.eda4e2","type":"ui_button","z":"d66ec0d8.83eb1","name":"HOME","group":"6d3ec09.e27b34","order":20,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"home","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_Home\",\"Website_San_Pham\",\"Website_DEMO\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":490,"y":80,"wires":[["fdd9753d.31ff28"]]},{"id":"5a5e7b5.99e0584","type":"ui_button","z":"d66ec0d8.83eb1","name":"FAN","group":"6d3ec09.e27b34","order":19,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"tune","payload":"{\"group\":{\"hide\":[\"Website_Home\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_FAN\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":490,"y":120,"wires":[["fdd9753d.31ff28"]]},{"id":"438d12c8.f424ac","type":"ui_button","z":"d66ec0d8.83eb1","name":"SETTINGS","group":"6d3ec09.e27b34","order":21,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"settings","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_Home\",\"Website_WARNING\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_SETTINGS\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":510,"y":160,"wires":[["fdd9753d.31ff28"]]},{"id":"b3f731ec.0bd7f","type":"ui_button","z":"d66ec0d8.83eb1","name":"HOME","group":"a004498e.c60028","order":8,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"home","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_Home\",\"Website_San_Pham\",\"Website_DEMO\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":470,"y":280,"wires":[["fdd9753d.31ff28"]]},{"id":"8772ceee.89b8e","type":"ui_button","z":"d66ec0d8.83eb1","name":"FAN","group":"a004498e.c60028","order":7,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"tune","payload":"{\"group\":{\"hide\":[\"Website_Home\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_FAN\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":470,"y":320,"wires":[["fdd9753d.31ff28"]]},{"id":"9ed35755.0e9108","type":"ui_button","z":"d66ec0d8.83eb1","name":"SETTINGS","group":"a004498e.c60028","order":9,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"settings","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_Home\",\"Website_WARNING\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_SETTINGS\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":490,"y":360,"wires":[["fdd9753d.31ff28"]]},{"id":"857f8b3a.36bd58","type":"ui_button","z":"d66ec0d8.83eb1","name":"HOME","group":"68e41714.f36988","order":15,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"home","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_Home\",\"Website_San_Pham\",\"Website_DEMO\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":470,"y":480,"wires":[["fdd9753d.31ff28"]]},{"id":"2c32a33.dd3425c","type":"ui_button","z":"d66ec0d8.83eb1","name":"FAN","group":"68e41714.f36988","order":14,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"tune","payload":"{\"group\":{\"hide\":[\"Website_Home\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_FAN\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":470,"y":520,"wires":[["fdd9753d.31ff28"]]},{"id":"144e9728.d09d49","type":"ui_button","z":"d66ec0d8.83eb1","name":"SETTINGS","group":"68e41714.f36988","order":16,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"settings","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_Home\",\"Website_WARNING\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_SETTINGS\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":490,"y":560,"wires":[["fdd9753d.31ff28"]]},{"id":"bca7ff54.97ea","type":"change","z":"d66ec0d8.83eb1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":740,"wires":[["312d3534.56e4fa"]]},{"id":"312d3534.56e4fa","type":"ui_chart","z":"d66ec0d8.83eb1","name":"","group":"ae204a0a.32d8d8","order":2,"width":9,"height":7,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"25","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2170,"y":740,"wires":[[]]},{"id":"5f7dc1a6.8f1c5","type":"function","z":"d66ec0d8.83eb1","name":"setData","func":"global.set(\"rac\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":540,"wires":[["c7a641e2.7cb9d","f763d00a.385e5"]]},{"id":"93bfd5fc.4a6cc8","type":"ui_slider","z":"d66ec0d8.83eb1","name":"","label":"Rác","tooltip":"{{payload}}","group":"ae204a0a.32d8d8","order":3,"width":8,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1550,"y":540,"wires":[["5f7dc1a6.8f1c5"]]},{"id":"4ed9d504.e8745c","type":"http request","z":"d66ec0d8.83eb1","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1461228/fields/1.json?api_key=DV6Y0E3WF49NEKSH&results=20","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":740,"wires":[["12cbbc2b.e38f64"]]},{"id":"e97db268.4e3ab","type":"ui_button","z":"d66ec0d8.83eb1","name":"","group":"ae204a0a.32d8d8","order":5,"width":6,"height":1,"passthru":false,"label":"INSERT","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"fa-upload ","payload":"","payloadType":"num","topic":"topic","topicType":"msg","x":1400,"y":260,"wires":[["dff9d8f0.dbdf08"]]},{"id":"dff9d8f0.dbdf08","type":"function","z":"d66ec0d8.83eb1","name":"getData","func":"msg.payload = global.get(\"rac\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":260,"wires":[["c7a641e2.7cb9d","f763d00a.385e5","cf9ab119.a9385","c121a0a4.18f9","b8b2d3bc.282cd"]]},{"id":"c7a641e2.7cb9d","type":"http request","z":"d66ec0d8.83eb1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/update?api_key=M6E6K7A9ZESENGFM&field1={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":2350,"y":380,"wires":[[]]},{"id":"2678027d.28b6de","type":"ui_button","z":"d66ec0d8.83eb1","name":"","group":"ae204a0a.32d8d8","order":8,"width":6,"height":1,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"fa-trash","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1340,"y":540,"wires":[["93bfd5fc.4a6cc8"]]},{"id":"d40c4a6b.d0e5d8","type":"ui_button","z":"d66ec0d8.83eb1","name":"","group":"ae204a0a.32d8d8","order":15,"width":7,"height":1,"passthru":false,"label":"REFRESH","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"refresh","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":1310,"y":740,"wires":[["4ed9d504.e8745c"]]},{"id":"f763d00a.385e5","type":"ui_gauge","z":"d66ec0d8.83eb1","name":"","group":"6d3ec09.e27b34","order":14,"width":12,"height":4,"gtype":"wave","title":"Amount Of Garbage ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2000,"y":380,"wires":[]},{"id":"a43b930f.03f63","type":"ui_button","z":"d66ec0d8.83eb1","name":"WARNING","group":"68e41714.f36988","order":17,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"history","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_Home\",\"Website_SETTINGS\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_WARNING\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":490,"y":600,"wires":[["fdd9753d.31ff28"]]},{"id":"ef16c178.ae413","type":"ui_button","z":"d66ec0d8.83eb1","name":"WARNING","group":"a004498e.c60028","order":10,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"history","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_Home\",\"Website_SETTINGS\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_WARNING\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":490,"y":400,"wires":[["fdd9753d.31ff28"]]},{"id":"5669ea3b.32d1d4","type":"ui_button","z":"d66ec0d8.83eb1","name":"WARNING","group":"6d3ec09.e27b34","order":22,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"history","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_Home\",\"Website_SETTINGS\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_WARNING\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":510,"y":200,"wires":[["fdd9753d.31ff28"]]},{"id":"e400c6bb.1b61d8","type":"ui_button","z":"d66ec0d8.83eb1","name":"HOME","group":"152df1bb.04bd9e","order":3,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"home","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_Home\",\"Website_San_Pham\",\"Website_DEMO\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":470,"y":680,"wires":[["fdd9753d.31ff28"]]},{"id":"ff31629a.b0fcc","type":"ui_button","z":"d66ec0d8.83eb1","name":"SETTINGS","group":"152df1bb.04bd9e","order":4,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"settings","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_Home\",\"Website_WARNING\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_SETTINGS\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":490,"y":760,"wires":[["fdd9753d.31ff28"]]},{"id":"39108245.0946fe","type":"ui_button","z":"d66ec0d8.83eb1","name":"FAN","group":"152df1bb.04bd9e","order":2,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"tune","payload":"{\"group\":{\"hide\":[\"Website_Home\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_FAN\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":470,"y":720,"wires":[["fdd9753d.31ff28"]]},{"id":"669ddf42.121b2","type":"ui_button","z":"d66ec0d8.83eb1","name":"WARNING","group":"152df1bb.04bd9e","order":5,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"history","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_Home\",\"Website_SETTINGS\",\"Website_San_Pham\",\"Website_DEMO\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_WARNING\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":490,"y":800,"wires":[["fdd9753d.31ff28"]]},{"id":"231b48fa.0958f8","type":"e-mail","z":"d66ec0d8.83eb1","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hacklike4123@gmail.com","dname":"Gmail","x":2570,"y":80,"wires":[]},{"id":"5be7263d.673f68","type":"function","z":"d66ec0d8.83eb1","name":"","func":"if(msg.payload > 79)\n{\n    msg.payload = \"<h3><strong>- \"+ msg.myymd + \"&emsp;\" + \"<i>\" + msg.mytimes+ \"</i></strong></h3>\";\n    msg.payload += \"<p>\" + \"Rác đầy, bạn cần đi đổ rác ngay !!!\" + \"</p>\";\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":120,"wires":[["dcc2e329.bc0b2","231b48fa.0958f8"]]},{"id":"5c57b449.fb760c","type":"ui_toast","z":"d66ec0d8.83eb1","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2610,"y":160,"wires":[]},{"id":"12cbbc2b.e38f64","type":"function","z":"d66ec0d8.83eb1","name":"importChart","func":"var Gdata = [];\n\nfor(var i = 0; i < 10; i++)\n{\n    Gdata[i] = ({\"x\" : msg.payload.feeds[i].created_at, \"y\" : msg.payload.feeds[i].field1});\n}\n\nvar obj = [{\n    \"series\" : [\"soluong\"],\n    \"data\": [Gdata]}];\n\nmsg.data = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":740,"wires":[["bca7ff54.97ea"]]},{"id":"82075999.b4e608","type":"ui_audio","z":"d66ec0d8.83eb1","name":"","group":"68e41714.f36988","voice":"Microsoft David Desktop - English (United States)","always":true,"x":2180,"y":200,"wires":[]},{"id":"c121a0a4.18f9","type":"function","z":"d66ec0d8.83eb1","name":"","func":"if(msg.payload > 79 && global.get(\"save\") == \"true\") \n{\n    msg.payload = \"garbage is full \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":200,"wires":[["82075999.b4e608"]]},{"id":"cf9ab119.a9385","type":"switch","z":"d66ec0d8.83eb1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"79","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2010,"y":140,"wires":[["6109ffe7.9b747"]]},{"id":"87941112.d67b7","type":"ui_text","z":"d66ec0d8.83eb1","group":"152df1bb.04bd9e","order":1,"width":12,"height":12,"name":"","label":"","format":"{{payload}}","layout":"row-left","x":2730,"y":620,"wires":[]},{"id":"dcc2e329.bc0b2","type":"mqtt out","z":"d66ec0d8.83eb1","name":"","topic":"/20VP/Noti","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"38697b9c.3e4dec","x":2590,"y":120,"wires":[]},{"id":"2872cae7.1fb7b6","type":"mqtt in","z":"d66ec0d8.83eb1","name":"","topic":"/20VP/Noti","qos":"2","datatype":"auto","broker":"38697b9c.3e4dec","nl":false,"rap":true,"rh":0,"x":2100,"y":620,"wires":[["d257a399.89b55"]]},{"id":"6109ffe7.9b747","type":"simpletime","z":"d66ec0d8.83eb1","name":"DATE","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":2170,"y":140,"wires":[["5be7263d.673f68","3f4dddd2.d23442"]]},{"id":"b74c8830.32f0e8","type":"ui_colour_picker","z":"d66ec0d8.83eb1","name":"COLOR BUTTON","label":"","group":"68e41714.f36988","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":3,"width":3,"height":1,"passthru":true,"topic":"payload","topicType":"msg","x":130,"y":420,"wires":[["22333e52.eda4e2","5a5e7b5.99e0584","438d12c8.f424ac","b3f731ec.0bd7f","8772ceee.89b8e","9ed35755.0e9108","857f8b3a.36bd58","2c32a33.dd3425c","144e9728.d09d49","a43b930f.03f63","ef16c178.ae413","5669ea3b.32d1d4","e400c6bb.1b61d8","ff31629a.b0fcc","39108245.0946fe","669ddf42.121b2","8bd8de24.b777e"]]},{"id":"3f4dddd2.d23442","type":"function","z":"d66ec0d8.83eb1","name":"","func":"if(msg.payload > 79)\n{\n    msg.payload = \"Rác đầy, bạn cần đi đổ rác ngay !!!\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":160,"wires":[["5c57b449.fb760c"]]},{"id":"d257a399.89b55","type":"ring-buffer","z":"d66ec0d8.83eb1","name":"Sort","capacity":"5","order":"new-to-old","sendOnlyIfFull":false,"pushAfterClear":false,"extra":false,"perTopic":false,"x":2330,"y":620,"wires":[["76e51e8f.2f053"]]},{"id":"76e51e8f.2f053","type":"function","z":"d66ec0d8.83eb1","name":"","func":"var result = \"\";\n\nmsg.payload.forEach(function(value, index){\n    result += value;\n});\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2520,"y":620,"wires":[["87941112.d67b7"]]},{"id":"9c021789.7f2f98","type":"mqtt in","z":"d66ec0d8.83eb1","name":"","topic":"/20VP/ErrorG","qos":"2","datatype":"auto","broker":"38697b9c.3e4dec","nl":false,"rap":true,"rh":0,"x":1270,"y":360,"wires":[["f5ce9710.a3dd98"]]},{"id":"f5ce9710.a3dd98","type":"function","z":"d66ec0d8.83eb1","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":360,"wires":[["93bfd5fc.4a6cc8","dff9d8f0.dbdf08","5f7dc1a6.8f1c5"]]},{"id":"b8b2d3bc.282cd","type":"switch","z":"d66ec0d8.83eb1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2330,"y":260,"wires":[["8e5c00d5.e9cf1"]]},{"id":"8e5c00d5.e9cf1","type":"http request","z":"d66ec0d8.83eb1","name":"Phone","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/garbage/with/key/lQZvzwtMOtnL8_qPoyRvVul-X4-irFExh1DXxEon-97?&value1={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":2570,"y":200,"wires":[[]]},{"id":"11613f58.c30de1","type":"ui_switch","z":"4cffd028.9f589","name":"","label":"FAN 1","tooltip":"{{payload}}","group":"a004498e.c60028","order":2,"width":12,"height":2,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"toys","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"toys","offcolor":"red","animate":true,"x":890,"y":80,"wires":[[]]},{"id":"de38fb0f.6f3598","type":"ui_switch","z":"4cffd028.9f589","name":"","label":"FAN 2","tooltip":"","group":"a004498e.c60028","order":3,"width":12,"height":2,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"toys","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"toys","offcolor":"red","animate":true,"x":970,"y":220,"wires":[[]]},{"id":"8aab0c8c.5ab38","type":"ui_gauge","z":"4cffd028.9f589","name":"","group":"a004498e.c60028","order":1,"width":12,"height":3,"gtype":"gage","title":"Chart Temperature Service","label":"*C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":160,"wires":[]},{"id":"8b9feb2c.904da8","type":"function","z":"4cffd028.9f589","name":"","func":"if(msg.payload > 49)\n{\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":80,"wires":[["11613f58.c30de1"]]},{"id":"cbfbc5ae.ee8318","type":"function","z":"4cffd028.9f589","name":"","func":"if(msg.payload > 79)\n{\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":260,"wires":[["de38fb0f.6f3598","5e6c537e.44687c"]]},{"id":"cca55f19.b5fdd","type":"e-mail","z":"4cffd028.9f589","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hacklike4123@gmail.com","dname":"gmail","x":1430,"y":420,"wires":[]},{"id":"39e59964.3baa96","type":"function","z":"4cffd028.9f589","name":"","func":"if(msg.payload == true)\n{\n   msg.payload = \"Thiết bị quá tải, cần xử lí gấp !!!\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":300,"wires":[["3dbe4c89.2d4f74"]]},{"id":"3dbe4c89.2d4f74","type":"ui_toast","z":"4cffd028.9f589","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1470,"y":300,"wires":[]},{"id":"6756a2c6.b3936c","type":"ui_switch","z":"4cffd028.9f589","name":"","label":"On / Off Notification ","tooltip":"","group":"68e41714.f36988","order":1,"width":12,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"notifications","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"notifications","offcolor":"red","animate":false,"x":590,"y":740,"wires":[["5738e505.503abc"]]},{"id":"6bba2c63.3a2454","type":"function","z":"4cffd028.9f589","name":"","func":"if(msg.payload > 79 && global.get(\"save\") == \"true\")\n{\n   msg.payload = \" equipment overload\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":440,"wires":[["8b076510.4cd418"]]},{"id":"8b076510.4cd418","type":"ui_audio","z":"4cffd028.9f589","name":"","group":"a004498e.c60028","voice":"Microsoft David Desktop - English (United States)","always":true,"x":900,"y":440,"wires":[]},{"id":"5e6c537e.44687c","type":"switch","z":"4cffd028.9f589","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":300,"wires":[["fdbdb4d.e89db48"]]},{"id":"5ed4ca7c.43d044","type":"function","z":"4cffd028.9f589","name":"","func":"global.set(\"save\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":640,"wires":[["8d6badef.591c6"]]},{"id":"24cc1e9d.268fd2","type":"inject","z":"4cffd028.9f589","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":410,"y":740,"wires":[["6756a2c6.b3936c"]]},{"id":"8d6badef.591c6","type":"function","z":"4cffd028.9f589","name":"","func":"msg.payload = global.get(\"save\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":640,"wires":[[]]},{"id":"fdbdb4d.e89db48","type":"simpletime","z":"4cffd028.9f589","name":"DATE","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":1110,"y":300,"wires":[["39e59964.3baa96","95a30a2e.90d898"]]},{"id":"95a30a2e.90d898","type":"function","z":"4cffd028.9f589","name":"","func":"if(msg.payload == true)\n{\n    msg.payload = \"<h3><strong>- \"+ msg.myymd + \"&emsp;\" + \"<i>\" + msg.mytimes+ \"</i></strong></h3>\";\n    msg.payload += \"<p>\" + \"Thiết bị quá tải, cần xử lí gấp !!!\" + \"</p>\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":360,"wires":[["f6eda2d9.338fa","cca55f19.b5fdd"]]},{"id":"f6eda2d9.338fa","type":"mqtt out","z":"4cffd028.9f589","name":"","topic":"/20VP/Noti","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"38697b9c.3e4dec","x":1450,"y":360,"wires":[]},{"id":"def5127a.91479","type":"mqtt in","z":"4cffd028.9f589","name":"","topic":"/20VP/ErrorT","qos":"2","datatype":"auto","broker":"38697b9c.3e4dec","nl":false,"rap":true,"rh":0,"x":110,"y":260,"wires":[["1acf0a39.a0e986"]]},{"id":"1acf0a39.a0e986","type":"function","z":"4cffd028.9f589","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":260,"wires":[["f31f351e.3a81b8"]]},{"id":"343d4c7b.9fc024","type":"mqtt in","z":"4cffd028.9f589","name":"","topic":"/20VP/Audio","qos":"2","datatype":"auto","broker":"38697b9c.3e4dec","nl":false,"rap":true,"rh":0,"x":410,"y":640,"wires":[["5ed4ca7c.43d044"]]},{"id":"5738e505.503abc","type":"mqtt out","z":"4cffd028.9f589","name":"","topic":"/20VP/Audio","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"38697b9c.3e4dec","x":830,"y":740,"wires":[]},{"id":"f31f351e.3a81b8","type":"ui_slider","z":"4cffd028.9f589","name":"Temperature Service","label":"ºC","tooltip":"","group":"a004498e.c60028","order":4,"width":12,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":500,"y":260,"wires":[["8aab0c8c.5ab38","8b9feb2c.904da8","cbfbc5ae.ee8318","6bba2c63.3a2454","a4662800.9fc9f8"]]},{"id":"e59f384b.517d68","type":"http request","z":"4cffd028.9f589","name":"Phone","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/fan/with/key/lQZvzwtMOtnL8_qPoyRvVul-X4-irFExh1DXxEon-97?&value1={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":480,"wires":[[]]},{"id":"a4662800.9fc9f8","type":"switch","z":"4cffd028.9f589","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":380,"wires":[["e59f384b.517d68"]]},{"id":"4862aacf.c91984","type":"ui_button","z":"ab992f87.93738","name":"CÁ NHÂN","group":"6d3ec09.e27b34","order":12,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"person","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_Home\",\"Website_San_Pham\",\"Website_DEMO\"],\"show\":[\"Website_Profile\",\"Website_Information\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1200,"y":200,"wires":[["ae5cff3.a5cbb"]]},{"id":"ae5cff3.a5cbb","type":"ui_ui_control","z":"ab992f87.93738","name":"","events":"all","x":1400,"y":240,"wires":[[]]},{"id":"3f7c687.8ed1698","type":"ui_button","z":"ab992f87.93738","name":"","group":"4895300c.1dc62","order":1,"width":2,"height":1,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"reply","payload":"{\"group\":{\"hide\":[\"Website_FAN\",\"Website_SETTINGS\",\"Website_WARNING\",\"Website_Profile\",\"Website_Information\"],\"show\":[\"Website_Home\",\"Website_San_Pham\",\"Website_DEMO\"]}}","payloadType":"json","topic":"topic","topicType":"msg","x":1190,"y":300,"wires":[["ae5cff3.a5cbb"]]},{"id":"bebe0cb8.dbaa8","type":"ui_text","z":"ab992f87.93738","group":"4895300c.1dc62","order":4,"width":12,"height":1,"name":"","label":"Name:","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":700,"wires":[]},{"id":"1e1b0f9c.d9722","type":"ui_text","z":"ab992f87.93738","group":"4895300c.1dc62","order":5,"width":12,"height":1,"name":"","label":"Phone: ","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":760,"wires":[]},{"id":"70e5e9d4.91da98","type":"ui_text","z":"ab992f87.93738","group":"4895300c.1dc62","order":6,"width":12,"height":1,"name":"","label":"Gmail: ","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":820,"wires":[]},{"id":"bd5c7b74.800318","type":"ui_text","z":"ab992f87.93738","group":"4895300c.1dc62","order":7,"width":12,"height":1,"name":"","label":"Address: ","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":880,"wires":[]},{"id":"ca1c395e.decaf8","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"name\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":700,"wires":[["bebe0cb8.dbaa8","7b4e1267.63ba7c"]]},{"id":"4d6a2afb.d4d564","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"phone\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":760,"wires":[["1e1b0f9c.d9722"]]},{"id":"3ad328b8.163da8","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"gmail\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":820,"wires":[["70e5e9d4.91da98"]]},{"id":"3dc14dff.f334b2","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"address\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":880,"wires":[["bd5c7b74.800318"]]},{"id":"dbf31e51.9cd83","type":"ui_text_input","z":"ab992f87.93738","name":"","label":"User Name","tooltip":"","group":"68e41714.f36988","order":5,"width":12,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":810,"y":700,"wires":[["1e4b58c5.51e537"]]},{"id":"74bfc98a.a12d38","type":"ui_text","z":"ab992f87.93738","group":"68e41714.f36988","order":4,"width":12,"height":1,"name":"","label":"Change Information:","format":"{{msg.payload}}","layout":"row-left","x":520,"y":180,"wires":[]},{"id":"16710889.f84437","type":"ui_text_input","z":"ab992f87.93738","name":"","label":"Phone","tooltip":"","group":"68e41714.f36988","order":6,"width":12,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":810,"y":760,"wires":[["f9df2a98.36f618"]]},{"id":"1dc4441a.f45cec","type":"ui_text_input","z":"ab992f87.93738","name":"","label":"Gmail","tooltip":"","group":"68e41714.f36988","order":7,"width":12,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":810,"y":820,"wires":[["c1ba9557.5733b8"]]},{"id":"bd7b3e36.dd2d6","type":"ui_text_input","z":"ab992f87.93738","name":"","label":"Address","tooltip":"","group":"68e41714.f36988","order":8,"width":12,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":820,"y":880,"wires":[["747d8fb9.6b82c"]]},{"id":"4c24bf8c.7ccfd","type":"ui_button","z":"ab992f87.93738","name":"","group":"68e41714.f36988","order":11,"width":4,"height":1,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"edit","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":800,"wires":[["ca1c395e.decaf8","4d6a2afb.d4d564","3ad328b8.163da8","3dc14dff.f334b2"]]},{"id":"1e4b58c5.51e537","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"name\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":700,"wires":[[]]},{"id":"747d8fb9.6b82c","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"address\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":880,"wires":[[]]},{"id":"c1ba9557.5733b8","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"gmail\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":820,"wires":[[]]},{"id":"f9df2a98.36f618","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"phone\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":760,"wires":[[]]},{"id":"7b4e1267.63ba7c","type":"ui_text","z":"ab992f87.93738","group":"6d3ec09.e27b34","order":4,"width":12,"height":1,"name":"NAME","label":"","format":"{{msg.payload}}","layout":"col-center","x":580,"y":640,"wires":[]},{"id":"8bd8de24.b777e","type":"link out","z":"d66ec0d8.83eb1","name":"","links":["20211d88.c88982","58008d0c.b6db44","5c063053.96f9b","5dbd2eee.7df37","715dec55.4ef144","8201bfa5.f1d7d"],"x":155,"y":520,"wires":[]},{"id":"8201bfa5.f1d7d","type":"link in","z":"d66ec0d8.83eb1","name":"","links":["8bd8de24.b777e","fd5d2c74.b0266"],"x":1195,"y":740,"wires":[["d40c4a6b.d0e5d8"]]},{"id":"5c063053.96f9b","type":"link in","z":"d66ec0d8.83eb1","name":"","links":["8bd8de24.b777e"],"x":1275,"y":260,"wires":[["e97db268.4e3ab"]]},{"id":"58008d0c.b6db44","type":"link in","z":"d66ec0d8.83eb1","name":"","links":["8bd8de24.b777e"],"x":1215,"y":540,"wires":[["2678027d.28b6de"]]},{"id":"d4ede97a.cb3878","type":"ui_text","z":"ab992f87.93738","group":"a3dcf925.591538","order":1,"width":12,"height":1,"name":"CHẤT LIỆU","label":"","format":"{{msg.payload}}","layout":"row-left","x":590,"y":1020,"wires":[]},{"id":"bd17fc1f.4470a","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"- Chất liệu: Vỏ nhựa ABS cao cấp","payloadType":"str","x":350,"y":1020,"wires":[["3a32dc1a.7f17e4","d4ede97a.cb3878"]]},{"id":"26e53f4a.e0da8","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"- Màu sắc : Trắng","payloadType":"str","x":310,"y":1120,"wires":[["9faea3bd.4c687","d9b15e8b.de47a"]]},{"id":"6aff676a.a242c8","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"- Kích thước: 40 x 25 x 50 ( Chiều dài x chiều rộng x chiều cao )","payloadType":"str","x":330,"y":1240,"wires":[["b229a7c3.8dfba8","c00c787f.c6e4a8"]]},{"id":"affce1c8.1d43","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"- Trọng lượng: 2.5 Kg","payloadType":"str","x":280,"y":1440,"wires":[["df122f11.94ae3","679bbad2.9ca934"]]},{"id":"57100724.d0b638","type":"inject","z":"ab992f87.93738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"- Dung tích: 16 lít","payloadType":"str","x":290,"y":1340,"wires":[["8c9bb398.c1a3","ce95e7ae.830578"]]},{"id":"d9b15e8b.de47a","type":"ui_text","z":"ab992f87.93738","group":"a3dcf925.591538","order":2,"width":12,"height":1,"name":"MÀU SẮC","label":"","format":"{{msg.payload}}","layout":"row-left","x":570,"y":1120,"wires":[]},{"id":"c00c787f.c6e4a8","type":"ui_text","z":"ab992f87.93738","group":"a3dcf925.591538","order":3,"width":12,"height":1,"name":"KÍCH THƯỚC","label":"","format":"{{msg.payload}}","layout":"row-left","x":580,"y":1240,"wires":[]},{"id":"ce95e7ae.830578","type":"ui_text","z":"ab992f87.93738","group":"a3dcf925.591538","order":4,"width":12,"height":1,"name":"DUNG TÍCH","label":"","format":"{{msg.payload}}","layout":"row-left","x":570,"y":1340,"wires":[]},{"id":"679bbad2.9ca934","type":"ui_text","z":"ab992f87.93738","group":"a3dcf925.591538","order":5,"width":12,"height":1,"name":"TRỌNG LƯỢNG","label":"","format":"{{msg.payload}}","layout":"row-left","x":590,"y":1440,"wires":[]},{"id":"6bf5b34d.d91f7c","type":"file","z":"ab992f87.93738","name":"","filename":"BinSmart.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":910,"y":1700,"wires":[[]]},{"id":"fdc894ed.ed9ff8","type":"ui_button","z":"ab992f87.93738","name":"","group":"a3dcf925.591538","order":7,"width":5,"height":1,"passthru":false,"label":"Download","tooltip":"","color":"","bgcolor":"{{msg.payload}}","icon":"fa-download","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":1700,"wires":[["95229faf.ef11e","1e4b1ab9.fe6005","24ca8560.21c16a","3682ffd4.c5f61","fbb62982.73a028","daf5b433.80f728"]]},{"id":"3a32dc1a.7f17e4","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"chatlieu\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":980,"wires":[[]]},{"id":"9faea3bd.4c687","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"mausac\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1080,"wires":[[]]},{"id":"df122f11.94ae3","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"trongluong\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1400,"wires":[[]]},{"id":"8c9bb398.c1a3","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"dungtich\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1300,"wires":[[]]},{"id":"b229a7c3.8dfba8","type":"function","z":"ab992f87.93738","name":"","func":"global.set(\"kichthuoc\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1200,"wires":[[]]},{"id":"95229faf.ef11e","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"chatlieu\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1580,"wires":[["6bf5b34d.d91f7c"]]},{"id":"1e4b1ab9.fe6005","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"mausac\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1640,"wires":[["6bf5b34d.d91f7c"]]},{"id":"24ca8560.21c16a","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"kichthuoc\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1700,"wires":[["6bf5b34d.d91f7c"]]},{"id":"fbb62982.73a028","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"trongluong\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1820,"wires":[["6bf5b34d.d91f7c"]]},{"id":"3682ffd4.c5f61","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = global.get(\"dungtich\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1760,"wires":[["6bf5b34d.d91f7c"]]},{"id":"daf5b433.80f728","type":"function","z":"ab992f87.93738","name":"","func":"msg.payload = \" \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1880,"wires":[["6bf5b34d.d91f7c"]]},{"id":"715dec55.4ef144","type":"link in","z":"ab992f87.93738","name":"","links":["8bd8de24.b777e"],"x":195,"y":1700,"wires":[["fdc894ed.ed9ff8"]]},{"id":"5dbd2eee.7df37","type":"link in","z":"ab992f87.93738","name":"","links":["8bd8de24.b777e"],"x":1035,"y":200,"wires":[["4862aacf.c91984"]]},{"id":"20211d88.c88982","type":"link in","z":"ab992f87.93738","name":"","links":["8bd8de24.b777e"],"x":1035,"y":300,"wires":[["3f7c687.8ed1698"]]},{"id":"f631b596.c49de8","type":"ui_media","z":"ab992f87.93738","group":"6d3ec09.e27b34","name":"Logo","width":13,"height":1,"order":1,"category":"logo 1","file":"123.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":130,"y":200,"wires":[[]]},{"id":"9cd598cc.82b0d8","type":"ui_media","z":"ab992f87.93738","group":"ae204a0a.32d8d8","name":"Logo","width":17,"height":2,"order":1,"category":"logo 1","file":"123.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":130,"y":240,"wires":[[]]},{"id":"3497b053.895e9","type":"ui_button","z":"dd5d8247.fe899","name":"","group":"5338f063.6ca83","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":110,"y":340,"wires":[["475bebaa.f66d14"]]},{"id":"8d4adf0f.ee95a","type":"function","z":"dd5d8247.fe899","name":"","func":"global.set(\"dem\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":460,"wires":[[]]},{"id":"6797005a.7fb31","type":"ui_text","z":"dd5d8247.fe899","group":"5338f063.6ca83","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":340,"wires":[]},{"id":"53eae5ff.030f6c","type":"function","z":"dd5d8247.fe899","name":"","func":"msg.payload += global.get(\"dem\");\nif(msg.payload > 9)\n{\n    global.set(\"dem\", -1)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["6797005a.7fb31"]]},{"id":"475bebaa.f66d14","type":"function","z":"dd5d8247.fe899","name":"","func":"global.set(\"dem\", global.get(\"dem\") + 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":340,"wires":[["53eae5ff.030f6c"]]},{"id":"4f96487.96f34b8","type":"inject","z":"dd5d8247.fe899","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":180,"y":460,"wires":[["8d4adf0f.ee95a"]]}]